/* utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 26, 46);
}

img{
    width: 100%;
}

.flex{
    display: flex;
}
.ud-spacing{
    padding: 10px 0;
}
/* container */
.main-container{
    display: flex;
    height: calc(100vh - 85px);
}
/* navbar */

.nav-bar{
   background-color: black;
   width: 50px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


/* .main-page */
.main-page{
    flex-grow: 1;
    overflow-y: auto;
}

.top-bar{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
}


main{
    padding-top: 115px;
} 


/* footer */
.f-container{
    height: 85px;
    width: 100%;
    background-color: grey;
    position: fixed;
}




