/* utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 26, 46);
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(148, 147, 147);
    font-size: 13px;
}

.nav-flex{
    display: flex;
    align-items: center;
}

.nav-flex p{
    display: none;
}

.nav-bar .playlist{
    display: none;
}

/* -----spacing--------- */
.ud-spacing{
    padding-top: 10px;
    padding-bottom: 10px;
}

.lr-spacing{
    padding-left: 10px;
    padding-right: 10px;
}

.album-spacing{
    padding-left: 15px;
}

.btn{
    text-decoration: none;
    padding: 10px 15px;
}

.btn-white{
    color: white;
    border: 1px solid white;
    border-radius: 15px;
}
/* container */
.main-container{
    display: flex;
    height: calc(100vh - 85px);
}
/* navbar */

.nav-bar{
   background-color: black;
   color: grey;
   width: 50px;
   padding: 10px 0;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-shrink: 0;
}

.nav-bar img{
    width: 25px;
}

.nav-bar .big-logo{
    display: none;
}

.nav-bar .small-logo{
    display: block;
}

/* .main-page */
.main-page{
    flex-grow: 1;
    overflow-y: auto;
}

.top-bar{
    height: 100px;
    width: 100%;
    padding-right: 55px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

/* main */
main{
    padding-top: 115px;
} 

.main-list ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content{
    margin: 15px;
    color: white;
}
/* album */

.row img{
    width: 180px;
}

.album-text{
    text-align: center;
}

.row .recommendations{
    font-weight: 600;
    color: rgb(148, 147, 147);
}

.row .circular{
    border-radius: 50%;
}


/* footer */
.f-container{
    height: 85px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    background-color: grey;

    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.f-container .left{
    display: flex;
    align-items: center;
}
/* left part */
.f-container .left .player-img{
    width: 50px;
    height: 50px;
    background-image: url(../img/mixdaily.jpeg);
    background-size: cover;
}

.f-container .left .player-info{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.f-container .left h5{
    font-weight: 1000;
}

.f-container .left .player-text{
    font-size: 12px;
}

.f-container .left .left-icon{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}
/* center */
.f-container .center{
    display: flex;
    flex-direction: column;
}

.f-container .center .center-top,
.center-down{
    display: flex;
    align-items: center;
}
/* center top */

.center .center-top{
    margin-top: 10px;
}

.center .center-top i{
    padding-right: 25px;
}
/* center down */

.center .center-down{
    margin-top: 10px;
}
.center .center-down div{
    margin-right: 10px;
}
.center .center-down .playbar{
    height: 8px;
    border-radius: 5px;
    width: 100px;
    background-color: lightgrey;
}
/* right part */
.f-container .right{
    display: flex;
    align-items: center;
}
.right i{
    margin-right: 15px;
}
.right .volume-bar{
    height: 5px;
    width: 70px;
    border-radius: 5px;
    background-color: whitesmoke;
}





