/* utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 26, 46);
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(148, 147, 147);
    font-size: 13px;
}

.row{
    display: flex;
}

.ud-spacing{
    padding-top: 10px;
    padding-bottom: 10px;
}

.lr-spacing{
    padding-left: 10px;
    padding-right: 10px;
}

.album-spacing{
    padding-left: 15px;
}

.btn{
    text-decoration: none;
    padding: 10px 15px;
}

.btn-white{
    color: white;
    border: 1px solid white;
    border-radius: 15px;
}
/* container */
.main-container{
    display: flex;
    height: calc(100vh - 85px);
}
/* navbar */

.nav-bar{
   background-color: black;
   width: 50px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


/* .main-page */
.main-page{
    flex-grow: 1;
    overflow-y: auto;
}

.top-bar{
    height: 100px;
    width: 100vw;
    padding-right: 55px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}


main{
    padding-top: 115px;
} 

.main-list ul{
    display: flex;
    justify-content: center;
}

.main-content{
    margin: 15px;
    color: white;
}
/* album */

.row img{
    width: 180px;
}

.album-text{
    text-align: center;
}

/* footer */
.f-container{
    height: 85px;
    width: 100%;
    background-color: grey;
    position: fixed;
}




